<app-carousel *ngIf="!!state?.data; else loading">
  <div *ngFor="let i of state.data" class="carousel-cell" tabindex="-1">
    <div class="carousel-cell-primary">
      <span class="large">{{getMetaForVendor(i.vendor).display}}</span>
      <span class="large">{{i.name}}</span>
      <span>{{i.issued | monthYear}} &mdash; {{i.expiry | monthYear}}</span>
      <span>Credential ID: {{i.credential || "Not Applicable"}}</span>
      <span>
        <mat-slider
          aria-label="units"
          [disabled]="true"
          [max]="4"
          [min]="0"
          [value]="getMetaForLevel(i.level).rank"
        >
        </mat-slider>
        {{getMetaForLevel(i.level).display}}
      </span>
    </div>
    <div class="carousel-cell-secondary">
      <span>{{i.description}}</span>
    </div>
  </div>
</app-carousel>

<ng-template #loading>
  <br/>
  <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</ng-template>
