<!--<app-carousel>-->
<app-carousel *ngIf="data?.length > 0; else loading">
  <div *ngFor="let i of data" class="carousel-cell" tabindex="-1">
    <div class="carousel-cell-primary">
      <span class="large">{{i.vendor}}</span>
      <span class="large">{{i.name}}</span>
      <span>{{i.issued | monthYear}} &mdash; {{i.expiry | monthYear}}</span>
      <span>Credential ID: {{i.credentialId}}</span>
      <span>
        <mat-slider
          aria-label="units"
          [disabled]="true"
          [max]="4"
          [min]="0"
          [value]="getLevelValue(i.level)"
        >
        </mat-slider>
        {{ i.level | titlecase }}
      </span>
    </div>
    <div class="carousel-cell-secondary">
      <span>{{i.description}}</span>
    </div>
  </div>
</app-carousel>

<ng-template #loading>
  <br/>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
