<div id="dialog">
  <div id="dialog-header">
    <h1 mat-dialog-title>Project Help Information</h1>
  </div>
  <mat-divider></mat-divider>
  <mat-dialog-content class="mat-typography">
    <div class="section">
      <h2 class="section-title">Chips</h2>
      <div class="section-paragraph">
        <span class="section-subject"><mat-chip class="active">Name</mat-chip></span>
        <span class="section-definition">Skills will be displayed by "Name"</span>
      </div>
      <div class="section-paragraph">
        <span class="section-subject"><mat-chip>Type</mat-chip></span>
        <span class="section-definition">Skills can be displayed by "Type"</span>
      </div>
    </div>
    <div class="section">
      <h2 class="section-title">Icons</h2>
      <div class="section-paragraph">
        <span class="section-subject"><mat-icon>filter_list</mat-icon></span>
        <span class="section-definition">Filter Skills by ones used on this Project</span>
      </div>
      <div class="section-paragraph">
        <span class="section-subject"><mat-icon>book</mat-icon></span>
        <span class="section-definition">There is a blog post available for this Project</span>
      </div>
      <div class="section-paragraph">
        <span class="section-subject"><mat-icon>code</mat-icon></span>
        <span class="section-definition">There is a code repository available for this Project</span>
      </div>
      <div class="section-paragraph">
        <span class="section-subject"><mat-icon>launch</mat-icon></span>
        <span class="section-definition">There is an active website available for this Project</span>
      </div>
    </div>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions id="dialog-footer">
    <button class="dialog-close" mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
