@import "../../../stylesheets/variables";

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

mat-divider {
  margin: 24px 12px;
}

#dialog {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 30vw;
}

#dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.active {
  background-color: #49caff;
}

.dialog-close {
  background-color: #49caff;
  color: #ffffff;
}

.section {
  margin-bottom: 2em;
}

.section-definition {
  width: 85%;
}

.section-paragraph {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: medium;
  margin: 10px;
}

.section-subject {
  justify-content: center;
  margin-right: 40px;
  text-align: center;
  width: 10%;
}

@media screen and (max-width: $device-mobile-lg) {
  h1 {
    font-size: large;
  }

  h2 {
    font-size: medium;
    margin: 0;
  }

  mat-chip {
    font-size: x-small;
    padding: 2px 7px;
  }

  mat-divider {
    margin: 12px 6px;
  }

  #dialog {
    width: 96%;
  }

  .section {
    margin-bottom: 1em;
  }

  .section-paragraph {
    font-size: x-small;
    margin: 1em auto;
  }
}
