@import 'src/stylesheets/variables';

mat-spinner {
  background-color: #49caff;
}

table {
  table-layout: fixed;
  width: 100%;
}

tr:hover {
  background-color: #22303c;
}

tr:focus {
  background-color: #2e4152;
}

#skill-filter {
  margin-left: 1em;
}

#skill-table {
  font-size: 20px;
  margin: 2em auto;
  width: 75%;
}

.skill-loading {
  margin: 3% 44%;
}

@media screen and (max-width: $device-mobile-lg){

  mat-slider {
    display: none;
  }

  #skill-filter {
    margin-left: 0.5em;
  }

  #skill-table {
    font-size: 12px;
    margin: 0 auto;
    width: 96%;
  }

  .mat-cell {
    font-size: 11px;
  }

  .skill-loading {
    margin: 5% 37%;
  }
}
