
table {
  table-layout: fixed;
  width: 100%;
}

tr:hover {
  background-color: #22303c;
}

tr:focus {
  background-color: #2e4152;
}

#skill-filter {
  margin-left: 1em;
}

#skill-table {
  margin: 0 auto;
  width: 75%;
}
