<div id="skill-table" class="mat-elevation-z8">
  <!-- Filter -->
  <mat-form-field id="skill-filter">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="setFilter($event)" placeholder="e.g. aws" #input />
  </mat-form-field>

  <!-- Table -->
  <table mat-table [dataSource]="tableSource" matSort>
    <!-- Declare Fields -->
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Level</th>
      <td
        mat-cell
        *matCellDef="let i"
        [matTooltip]="getMetaForLevel(i.level).description"
        [matTooltipShowDelay]="300"
      >
        <mat-slider
          aria-label="units"
          [disabled]="true"
          [max]="5"
          [min]="0"
          [value]="getMetaForLevel(i.level).rank"
        >
        </mat-slider>
        {{ getMetaForLevel(i.level).display }}
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Skill</th>
      <td mat-cell *matCellDef="let i">{{ i.name }}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let i">{{ i.type }}</td>
    </ng-container>

    <!-- Print Fields -->
    <tr mat-header-row *matHeaderRowDef="tableFields"></tr>
    <tr mat-row *matRowDef="let row; columns: tableFields" tabindex="0"></tr>

    <!-- No Match -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <!-- Loading -->
  <div *ngIf="state == null" class="skill-loading">
    <mat-progress-spinner
      color="accent"
      mode="indeterminate"
    ></mat-progress-spinner>
  </div>

  <!-- Paginator -->
  <mat-paginator
    [pageSizeOptions]="[10, 25, 50]"
    showFirstLastButtons
  ></mat-paginator>
</div>
