<app-carousel
  *ngIf="!!state?.projects; else loading"
  [cellsToShow]=2
  [height]=475
>
  <div
    *ngFor="let i of state.projects"
    (click)=setProjectFilter(i.id)
    class="carousel-cell"
    tabindex="-1"
  >
    <div class="carousel-cell-icons">
      <a href="{{i.blog}}" target="_blank"><mat-icon>book</mat-icon></a>
      <a href="{{i.code}}" target="_blank"><mat-icon>code</mat-icon></a>
      <mat-icon id="info-icon" (click)="openDialog()">info</mat-icon>
    </div>
    <div class="carousel-cell-primary">
      <span class="large">{{i.name}}</span>
      <span>{{i.start | monthYear }} &mdash; {{i.end | monthYear }}</span>
      <br/>
      <mat-chip-list>
        <mat-chip
          (click)="setSkillSortBy('Name')"
          [ngClass]="{'active': skillSortBy === 'Name'}"
        >
          Name
        </mat-chip>
        <mat-chip
          (click)="setSkillSortBy('Type')"
          [ngClass]="{'active': skillSortBy === 'Type'}"
        >
          Type
        </mat-chip>
      </mat-chip-list>
      <br/>
      <mat-divider></mat-divider>
      <br/>
      <mat-chip-list *ngIf="skillSortBy === 'Name'">
        <mat-chip
          *ngFor="let skillName of getSkillNames(i.skills)"
          (click)="setSkillFilter(skillName)"
          [ngClass]="{'active': skillTarget === skillName}"
        >
          <ng-container>{{skillName}}</ng-container>
        </mat-chip>
      </mat-chip-list>
      <mat-chip-list *ngIf="skillSortBy === 'Type'">
        <mat-chip
          *ngFor="let skillType of getSkillTypes(i.skills)"
          (click)="setSkillFilter(skillType)"
          [ngClass]="{'active': skillTarget === skillType}"
        >
          <ng-container>{{skillType}}</ng-container>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="carousel-cell-secondary">
      <span>{{i.description}}</span>
    </div>
  </div>
</app-carousel>

<ng-template #loading>
  <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</ng-template>
