@import 'src/stylesheets/variables';

mat-chip {
  font-size: medium;
}

.active {
  background-color: #49caff;
}

.carousel-cell-icons mat-icon {
  cursor: pointer;
}

@media screen and (max-width: $device-mobile-lg) {

  mat-chip {
    font-size: small;
    padding: 2px 7px;
  }
}
