<app-carousel
  *ngIf="!!state?.projects; else loading"
  [cellsToShow]=2
  [height]=475
>
  <!-- (click)="filterProject(i.id)" -->
  <div *ngFor="let i of state.projects" class="carousel-cell" tabindex="-1">
    <div class="carousel-cell-primary">
      <span class="large">{{i.name}}</span>
      <span>{{i.start | monthYear }} &mdash; {{i.end | monthYear }}</span>
      <span>Blog: <a href="{{i.blog}}">{{i.blog}}</a></span>
      <span>Code: <a href="{{i.code}}">{{i.code}}</a></span>
      <br/>
      <mat-chip-list>
        <mat-chip
          (click)="setSkillSortBy('Name')"
          [ngClass]="{'active': skillSortBy === 'Name'}"
        >
          Name
        </mat-chip>
        <mat-chip
          (click)="setSkillSortBy('Type')"
          [ngClass]="{'active': skillSortBy === 'Type'}"
        >
          Type
        </mat-chip>
      </mat-chip-list>
      <br/>
      <mat-divider></mat-divider>
      <br/>
      <mat-chip-list *ngIf="skillSortBy === 'Name'">
        <mat-chip
          *ngFor="let skillName of getSkillNames(i.skills)"
          (click)="setSkillFilter(skillName)"
          [ngClass]="{'active': skillTarget === skillName}"
        >
          <ng-container>{{skillName}}</ng-container>
        </mat-chip>
      </mat-chip-list>
      <mat-chip-list *ngIf="skillSortBy === 'Type'">
        <mat-chip
          *ngFor="let skillType of getSkillTypes(i.skills)"
          (click)="setSkillFilter(skillType)"
          [ngClass]="{'active': skillTarget === skillType}"
        >
          <ng-container>{{skillType}}</ng-container>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="carousel-cell-secondary">
      <span>{{i.description}}</span>
    </div>
  </div>
</app-carousel>

<ng-template #loading>
  <br/>
  <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</ng-template>
