
carousel {
  margin: 0 auto;
}

.carousel-cell {
  border-radius: 1em;
  opacity: 0.5;
}

.carousel-cell div {
  margin-left: 0.3em;
  margin-top: 0.5em;
}

.carousel-cell span {
  display: block;
  margin-bottom: 0.2em;
}

.carousel-cell:hover  {
  background-color: #22303c;
}

.record-primary {
  color: #ffffff;
  font-size: large;
}

.record-secondary {
  color: #8899a6;
  padding: 0.5em;
}

