<carousel
  [arrowsOutside]="true"
  [cellsToScroll]="2"
  [cellsToShow]="3"
  [cellWidth]=400
  [dots]="true"
  [height]=350
  [loop]="true"
  [width]=1200
>
  <div *ngFor="let i of experience" class="carousel-cell">
    <div class="record-primary">
      <span class="bold">&#9;{{i.company}}</span>
      <span class="bold">&#9;{{i.role}} ({{i.type}})</span>
      <span>&#9;{{i.project}}</span>
      <span>&#9;{{i.start | formatDate }} &mdash; {{i.end | formatDate }}</span>
      <span>&#9;{{i.location | formatLocation }}</span>
    </div>
    <div class="record-secondary">
      <span>{{i.description}}</span>
    </div>
  </div>
</carousel>
