
carousel {
  margin: 0 auto;
}

.carousel-cell {
  background-color: #e0e0e0;
  border: 0.1em solid #000000;
  border-radius: 1em;
  /*margin: 1em;*/
  /*padding: 0.5em;*/
}

.carousel-cell div {
  margin-top: 0.5em;
}

.carousel-cell span {
  display: block;
  margin-bottom: 0.2em;
}

.carousel-cell:hover  {
  background-color: #c0c0c0;
}

.record-primary {
  font-size: large;
}

.record-secondary {
  padding: 0.5em;
}


