
.experience {
  padding: 1em;
}

.experience li {
  list-style-type: none;
}

.record {
  border: 0.1em solid #000000;
  border-radius: 4px;
  padding: 1em;
}

.record span {
  display: block;
  margin-bottom: 0.2em;
}

.record:hover  {
  background-color: #e0e0e0;
}

.record-primary {
  font-size: large;
}

.record-secondary {
  border: 0.1em solid #000000;
  border-radius: 4px;
  padding: 0.5em;
}


