@import "src/stylesheets/variables";

carousel {
  margin: 24px auto;
  z-index: 0 !important;
}

ul {
  margin: 0;
  padding-left: 16px;
}

.carousel-cell {
  border-radius: 8px;
}

.carousel-cell:hover {
  background-color: #22303c;
}

.carousel-cell:focus {
  background-color: #2e4152;
}

.carousel-cell div {
  margin-left: 4px;
  margin-top: 4px;
}

.carousel-cell span {
  display: block;
  margin-bottom: 4px;

  :not(.large) {
    font-size: 16px;
  }
}

.carousel-cell-icons {
  float: right;
  margin-right: 8px;

  a {
    color: inherit;
    text-decoration: none;
  }
  mat-icon {
    margin: 4px;
  }
}

.carousel-cell-secondary {
  color: #8899a6;
  padding: 4px;
}

@media screen and (max-width: $device-mobile-lg) {
  carousel {
    margin: 8px auto;
  }

  #carousel-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .carousel-cell div {
    margin-top: 4px;
  }

  .carousel-cell span {
    font-size: 12px;
    margin-bottom: 4px;
  }

  .carousel-cell-icons {
    margin-right: 4px;
  }

  .carousel-cell-secondary {
    color: #8899a6;
  }
}
