<div class="social">
  <a href="https://learn.acloud.guru/profile/justin-wheeler" target="_blank">
    <fa-icon [icon]="faCloud" [matTooltip]="'A Cloud Guru'"></fa-icon>
  </a>
  <a href="https://dev.to/wheelerswebsites" target="_blank">
    <fa-icon [icon]="faBlog" [matTooltip]="'Blog'"></fa-icon>
  </a>
  <a href="https://www.buymeacoffee.com/wheelersweb/" target="_blank">
    <fa-icon [icon]="faCoffee" [matTooltip]="'Buy Me a Coffee'"></fa-icon>
  </a>
  <a href="mailto:justin.wheeler@wheelerswebsites.com" target="_blank">
    <fa-icon [icon]="faAt" [matTooltip]="'Email'"></fa-icon>
  </a>
  <a href="https://github.com/wheelers-websites" target="_blank">
    <fa-icon [icon]="faGithub" [matTooltip]="'GitHub'"></fa-icon>
  </a>
  <a href="https://www.linkedin.com/in/wheelers-websites/" target="_blank">
    <fa-icon [icon]="faLinkedinIn" [matTooltip]="'LinkedIn'"></fa-icon>
  </a>
  <a href="{{storageUrlForResume}}" target="_blank">
    <fa-icon [icon]="faFilePdf" [matTooltip]="'Resume'"></fa-icon>
  </a>
  <a href="https://twitter.com/wheelersweb" target="_blank">
    <fa-icon [icon]="faTwitter" [matTooltip]="'Twitter'"></fa-icon>
  </a>
  <a href="https://app.pluralsight.com/profile/wheeler146" target="_blank">
    <fa-icon [icon]="faUser" [matTooltip]="'Pluralsight'"></fa-icon>
  </a>
</div>
