<br/>
<h1>Education</h1>
<app-carousel
  [cellsToShow]=1
>
  <div *ngFor="let i of educations" class="carousel-cell" tabindex="-1">
    <div class="carousel-cell-primary">
      <span class="large">{{i.school}}</span>
      <span class="large">{{i.degree}}</span>
      <span class="large">{{i.field}}</span>
      <span>{{i.start}} &mdash; {{i.end}}</span>
      <span>{{i.location | location }} {{i.location.remote ? '(Remote)' : ''}}</span>
    </div>
    <div class="carousel-cell-secondary">
      <span>{{i.description}}</span>
    </div>
  </div>
</app-carousel>

