<div class="about">
  <div class="gallery">
    <img class="photo" alt="profile photo 0" src="assets/about/profile-0.jpg"/>
  </div>
  <div class="details">
    <div class="interchange">
      <p class="prompt">
        How I describe myself in 1-2 sentences?
      </p>
      <p class="answer">
        Technologist with a background in programming and a lot of knowledge in Cloud Computing with platforms like AWS,
        Azure, and GCP. I'm incredibly fascinated by cutting edge technologies like AI, Blockchain, ML, and Quantum
        Computing.
      </p>
    </div>
    <div class="interchange">
      <p class="prompt">
        Which programming languages do I know?
      </p>
      <p class="answer">
        I know several programming languages including: C#, C, Go, Java, JavaScript, PHP, Python, Ruby, TypeScript, and
        more. However, I am most capable in Java, Python, and TypeScript. See 'Skills' for a scaled measurement.
      </p>
    </div>
    <div class="interchange">
      <p class="prompt">
        Which cloud providers am I familiar with?
      </p>
      <p class="answer">
        I am familiar with the major cloud providers: AWS, Azure, and GCP. Although, I am most familiar with AWS. I
        currently hold several cloud certifications; see 'Certifications' for a complete list. See 'Skills' for specific
        cloud technologies I am familiar with like AWS Lambda.
      </p>
    </div>
  </div>
</div>
