<div id="about">
  <p>
    My name is Justin Wheeler and I joined the industry in 2016. In that time I have learned an extraordinary amount and
    performed many roles. I studied Game Design and Development in college then transitioned into web development. I
    learned Java and the big frameworks that support it like Hibernate and Spring. I worked as a Java Developer
    contractor for Verizon at the start of my career. Verizon quickly realized my potential and converted my to a
    full-time employee.
  </p>
  <p>
    As an employee I gained access to incredible learning tools like<a href="https://acloudguru.com" target="_blank">
      acloudguru</a
    >
    and <a href="https://pluralsight.com" target="_blank">Pluralsight</a> which propelled me into the position I am
    today. I became fascinated in Cloud Computing when learning more about as Verizon looked towards a migration to AWS.
    My manager encouraged me to get AWS certified before attempting the migration. I started with my Solutions Architect
    Associate certification like most people will do. When I discovered the overlap between certifications and the value
    that they held I decided to keep going.
  </p>
  <p>
    Today I hold 9 of 12 AWS certifications with other certifications in Azure, Java, and SAFe. I played a crucial role
    in our cloud migration as well as the continued operations when in AWS. At this time I took on the role of a Cloud
    Architect as I designed how the system would work in AWS given the requirements that I had. Furthermore, I helped
    move the system by dealing with low level tasks such as: automating server configurations with Ansible, migrating
    our database data into Aurora, and refactoring our Java Spring Boot microservices to run in the new architecture.
    I've moved on from Verizon now and moved into a Senior Software Developer role. In this new role I'm working more
    closely with the code with a keen focus on automation and code quality. In this role we're leveraging GCP instead of
    AWS, which fills me with the excitement to learn the differences and maybe pick up a couple Google certifications
    along the way.
  </p>
  <p>
    To be honest I have a lot of experience in various areas on the industry. My current interests include: artificial
    intelligence, machine learning, quantum computing, robotics, and containerized workloads. If I were to chose 3
    specialties of cloud computing I would choose: automation, security, and serverless. Automation is critical to see
    the real benefits of the cloud. Even more important though is security, which resonates with me. Cloud brings new
    risks that simply don't exist in a traditional operating model. Lastly, serverless may be the trendy buzzword thrown
    around at the office that isn't always clear, it is also a game changer. Serverless enables us to build applications
    that would be impossible to build any other way for one reason or another.
  </p>
</div>
