<div id="header">
  <h1 class="header-role" *ngIf="!isMobile && !isTablet"></h1>
  <h1 class="header-role-mobile" *ngIf="isMobile">
    Justin Wheeler — Cloud Guru
  </h1>
  <h1 class="header-role-tablet" *ngIf="isTablet">
    Justin Wheeler — Cloud Architect
  </h1>
</div>
<div>
  <mat-card
    (click)="toggleAboutShouldRender()"
    (keydown.enter)="toggleAboutShouldRender()"
    tabindex="0"
  >
    About
  </mat-card>
  <app-about *ngIf="aboutShouldRender"></app-about>
</div>
<div>
  <mat-card
    (click)="toggleExperienceShouldRender()"
    (keydown.enter)="toggleExperienceShouldRender()"
    [ngClass]="{ disabled: !experienceShouldEnable }"
    tabindex="0"
  >
    Experience
  </mat-card>
  <app-experience *ngIf="experienceShouldRender"></app-experience>
</div>
<div>
  <mat-card
    (click)="toggleCertificationShouldRender()"
    (keydown.enter)="toggleCertificationShouldRender()"
    [ngClass]="{ disabled: !certificationShouldEnable }"
    tabindex="0"
  >
    Certifications
  </mat-card>
  <app-certifications *ngIf="certificationShouldRender"></app-certifications>
</div>
<div>
  <mat-card
    (click)="toggleSkillShouldRender()"
    (keydown.enter)="toggleSkillShouldRender()"
    [ngClass]="{ disabled: !skillShouldEnable }"
    tabindex="0"
  >
    Skills
  </mat-card>
  <app-skills *ngIf="skillShouldRender"></app-skills>
</div>
<div>
  <mat-card
    (click)="toggleProjectShouldRender()"
    (keydown.enter)="toggleProjectShouldRender()"
    [ngClass]="{ disabled: !projectShouldEnable }"
    tabindex="0"
  >
    Projects
  </mat-card>
  <app-projects *ngIf="projectShouldRender"></app-projects>
</div>
<div>
  <mat-card
    (click)="toggleEducationShouldRender()"
    (keydown.enter)="toggleEducationShouldRender()"
    [ngClass]="{ disabled: !educationShouldEnable }"
    tabindex="0"
  >
    Education
  </mat-card>
  <app-education *ngIf="educationShouldRender"></app-education>
</div>
<div id="footer">
  <mat-divider></mat-divider>
  <app-visitor></app-visitor>
</div>
