@import 'src/stylesheets/variables';

$name-prefix: "Justin Wheeler — ";

@keyframes spin {
  0% {
    content:"#{$name-prefix}Cloud Architect";
  }
  10% {
    content:"#{$name-prefix}Cloud Guru";
  }
  20% {
    content:"#{$name-prefix}Dreamer";
  }
  30% {
    content:"#{$name-prefix}Professional DevOps Engineer";
  }
  40% {
    content:"#{$name-prefix}Professional Solutions Architect";
  }
  50% {
    content:"#{$name-prefix}Security Specialist";
  }
  60% {
    content:"#{$name-prefix}Serverless Specialist";
  }
  70% {
    content:"#{$name-prefix}Senior Software Developer";
  }
  80% {
    content:"#{$name-prefix}Student";
  }
  90% {
    content:"#{$name-prefix}Website Designer";
  }
  100% {
    content:"#{$name-prefix}Wizard";
  }
}

div {
  margin-left: 1em;
}

mat-card {
  cursor: pointer;
  font-size: xx-large;
  margin-left: 2em;
  margin-top: 1.5em;
  text-align: center;
  width: 25%;

  &.disabled {
    opacity: 0.2;
  }
}

mat-divider {
  margin: 40px 5%;
}

#header {
  margin-left: 2em;
  margin-top: 3em;
  text-align: left;
  width: 80%;
}

#footer {
  text-align: center;
}

.header-role:after {
  animation: spin 30s linear infinite;
  content: "";
  font-size: xxx-large;
}

@media screen and (max-width: $device-tablet){

  mat-card {
    font-size: x-large;
    margin: 1em auto;
    width: 35%;
  }

  #header {
    text-align: center;
    width: 100%;
  }

  .header-role-tablet {
    font-size: xx-large;
  }
}

@media screen and (max-width: $device-mobile-lg){

  div {
    margin-left: 0.5em;
  }

  mat-card {
    font-size: medium;
    margin: 0.5em auto;
    width: 45%;
  }

  mat-divider {
    margin: 10px 3%;
  }

  #header {
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .header-role-mobile {
    font-size: large;
    margin: 0 auto;
  }
}

