<div id="header">
  <h1>Justin Wheeler the {{role}}</h1>
</div>
<h1>About</h1>
<div>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices urna diam, eget sodales urna volutpat non. Sed vulputate tortor ut molestie commodo. Praesent aliquam magna quis mauris luctus molestie. Quisque sed libero quis justo malesuada ultricies. Cras venenatis, quam in bibendum congue, leo purus lobortis nibh, sit amet varius ante arcu sed diam. Vivamus auctor ipsum in sem dignissim, quis dapibus nulla ultrices. Sed a eros sed mi condimentum facilisis.
</div>
<app-experience></app-experience>
<app-certification></app-certification>
<app-skills></app-skills>
<app-project></app-project>
<app-education></app-education>
<div id="footer">
  <br/><br/>
  <mat-divider></mat-divider>
  <br/><br/><br/><br/><br/>
</div>

