
div {
  margin-left: 1em;
}

mat-card {
  cursor: pointer;
  font-size: xx-large;
  margin-left: 2em;
  margin-top: 1.5em;
  text-align: center;
  width: 25%;

  &.disabled {
    opacity: 0.2;
  }
}

#header {
  margin-top: 2em;
  text-align: center;
}

#footer {
  text-align: center;
}
