@import "src/stylesheets/variables";

@keyframes spin {
  $name-prefix: "Justin Wheeler — ";
  0% {
    content: "#{$name-prefix}Cloud Architect";
  }
  10% {
    content: "#{$name-prefix}Cloud Guru";
  }
  20% {
    content: "#{$name-prefix}Dreamer";
  }
  30% {
    content: "#{$name-prefix}Professional DevOps Engineer";
  }
  40% {
    content: "#{$name-prefix}Professional Solutions Architect";
  }
  50% {
    content: "#{$name-prefix}Security Specialist";
  }
  60% {
    content: "#{$name-prefix}Serverless Specialist";
  }
  70% {
    content: "#{$name-prefix}Senior Software Developer";
  }
  80% {
    content: "#{$name-prefix}Student";
  }
  90% {
    content: "#{$name-prefix}Website Designer";
  }
  100% {
    content: "#{$name-prefix}Wizard";
  }
}

.footer {
  height: 120px;
  text-align: center;
}

.header {
  align-content: center;
  align-items: center;
  display: flex;
  margin: 40px;
  width: 100%;

  .logo {
    text-align: center;
    width: 20%;

    mat-icon {
      transform: scale(4);
    }
  }
  .role {
    text-align: left;
    width: 80%;
  }
}

.header-role:after {
  animation: spin 30s linear infinite;
  content: "";
  font-size: 56px;
}

mat-card {
  cursor: pointer;
  font-size: 32px;
  margin: 32px 24px;
  text-align: center;
  width: 20%;

  &.disabled {
    opacity: 0.2;
  }
}

mat-divider {
  margin: 40px 5% 8px 5%;
}


@media screen and (max-width: $device-tablet) {

  .header {
    flex-direction: column-reverse;
    margin: 40px auto 0 auto;
    text-align: center;
    width: 100%;

    .logo {
      margin-bottom: 40px;
      width: 100%;

      mat-icon {
        transform: scale(3);
      }
    }
    .role {
      text-align: center;
      width: 100%;
    }
  }

  .header-role-tablet {
    font-size: 32px;
  }

  mat-card {
    font-size: 24px;
    margin: 32px auto;
    width: 35%;
  }
}

@media screen and (max-width: $device-mobile-lg) {

  .header {
    margin: 16px 0 0 0;
    text-align: center;
    width: 100%;

    .logo {
      margin-bottom: 16px;
      width: 100%;

      mat-icon {
        transform: scale(2);
      }
    }
    .role {
      text-align: center;
      width: 100%;
    }
  }

  .header-role-mobile {
    font-size: 24px;
    margin: 0 auto;
  }

  mat-card {
    font-size: 16px;
    margin: 16px auto;
    width: 45%;
  }

  mat-divider {
    margin: 10px 3%;
  }
}
