@import "src/stylesheets/variables";

fa-icon {
  font-size: 40px;
  padding: 16px;
}

.large {
  font-size: 20px;
}

mat-progress-bar {
  margin-top: 16px;
}

@media screen and (max-width: $device-mobile-lg) {
  mat-progress-bar {
    margin-top: 0;
  }

  .large {
    font-size: 16px;
  }
}
