@import "src/stylesheets/variables";

mat-progress-bar {
  margin-top: 2em;
}

.large {
  font-size: large;
}

@media screen and (max-width: $device-mobile-lg) {
  mat-progress-bar {
    margin-top: 0;
  }

  .large {
    font-size: medium;
  }
}
