
$device-4k: 2560px;

$device-laptop-lg: 1440px;
$device-laptop-sm: 1024px;

$device-mobile-lg: 425px;
$device-mobile-md: 375px;
$device-mobile-sm: 320px;
$device-mobile-xs: 280px;

$device-tablet: 768px;
